/*
  Project name(项目名称)：CSS_2D_conversion 
  File name(文件名): t5
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/2/7 
  Time(创建时间)： 13:28
  Version(版本): 1.0
  Description(描述)： 无
 */


div {
    width: 100px;
    height: 100px;
    background-color: #CCC;
    margin: 20px 0px 0px 10px;
    float: left;
}

.one {
    transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
}

.two {
    margin-left: 35px;
    transform: matrix(0.586, 0.8, -0.8, 0.686, 0, 0);
}

.three {
    margin-left: 40px;
    margin-top: 25px;
    transform: matrix(0.586, 0.8, -0.8, 0.866, 0, 0);
}

.four {
    transform: matrix(0.586, 0.8, -0.8, 0.586, 40, 30);
}